@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap');
html{
    scroll-behavior: smooth;
}


body nav{
    font-family: 'Poppins', Times, serif;
    background-color: orange;  
    padding-right: 5px;
}

body nav .container-fluid{
    padding: 0;
    margin: 0;  
}

nav #logo{
    height: 50px;
}

#navbarScrollingDropdown{
    border: none;
}

nav form select{
    border-radius: 4px;
}

#accounts ul li a{
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
}

#s-bar select{
    color: rgb(44, 44, 44);
}

footer{
    font-size: 12px;
}

footer .footer__widget{
    font-family: 'Poppins', Times, serif;
}

footer .footer__widget h6{
    text-transform: uppercase;
}

footer .footer__widget form input{
    outline: none;
    padding: 5px 10px;
    width: 70%;
}

footer .footer__widget form button{
    padding: 5px 10px;
}

@media screen and (max-width: 800px) {
    /* body{
        overflow-x: hidden;
        padding: 0;
        margin: 0;
    } */

    nav ul{
       width: 100%; 
       display: flex;
       margin: 20px 0;
       flex-direction: column;
       justify-content: center;
    }

    nav ul li{
        width: 98.5%; 
        margin-left: 5px; 
        border-radius: 4px; 
        overflow: hidden;  
    }

    nav ul li a{  
        transition: .5s;
        text-align: center;
    }

    nav ul li a:hover{
        background-color: #fff;
    }

    nav form select{
        margin-left: 5px;
    }
}